streamlit
pandas==2.2.2
numpy
scikit-learn
torch
transformers>=4.38.0
accelerate>=0.21.0
datasets==2.21.0
deprecated==1.2.14
urllib3==1.26.20
pyarrow==17.0.0
dill==0.3.8
xxhash==3.5.0
multiprocess==0.70.16
git+https://github.com/IBM/tsfm.git@main#egg=tsfm_public
azure-storage-blob
tqdm
databricks-sql-connector
